
.category-products{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.category-products button{
    margin: 5%;
    width: 100%;
}

.products-section{
    background-color: none;
    margin-bottom: 30%;
}


@media screen and (max-width:500px) {
    .products-section{
        margin-bottom: 10%;
    } 
}