.container-user {
   margin: 40px;
 }

.content-user {
   color:#FFFFFF;
   background: rgba(0, 0, 0, 0.57);
   font-size: 15px;
   text-align: center;
   margin-top: 5%;
   padding: 2%;
 }

 .content-user .row {
   justify-content: center;
 }

 .input-client{
   background-color: #FFFFFF;
   border: none;
   margin-bottom: 2%;
   text-align: center;
   height: 5vh;
   width: 30vw;
 }
 
 .input-client::placeholder {
  color:#000000;
}